.navbar {
    background: rgb(30, 30, 30);
    height: 5rem; /* Default height */
    width: 100vw;
    max-width: 75rem; /* Maximum width for larger screens */
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem; /* Default height */
    width: 4rem; /* Default width */
}

.desktopMenuListItem {
    margin: 0 0.5rem; /* Adjusted margin */
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem; /* Default height */
    width: 1rem; /* Default width */
    margin: 0 0.5rem; /* Adjusted margin */
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 2rem;
}

.active {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 500px) {
    .navbar {
        flex-direction: row; /* Stack items vertically */
        height: auto; /* Adjust height for content */
        padding: 1rem; /* Adjust padding */
    }
    
    .logo {
        margin-bottom: 1rem; /* Space below logo */
    }
    
    .desktopMenuListItem{

        gap: 10px;
    }
    .desktopMenuImg {
        margin: 0.5rem 0; /* Adjust margin */
    }

    .desktopMenuBtn {
        display: none;
    }
}
